<!DOCTYPE html>  
<html lang="en"> 
    <head>
      <title>Register your vehicle</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap stylesheet -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- Local stylesheet -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Bootstrap script -->
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>  
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tempreg</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="register.ejs">Register</a>
              </li>
            </ul>
            <form>
              <input class="form-control" type="text" placeholder="Search" aria-label="Search...">
            </form>
          </div>
        </div>
      </nav>
        <section id="section-hero" class="container-fluid custom-column">
          <div id="car-img-div"></div>
          <div id="conversion-text">
            <h2 class="display-6">Register your vehicle and get your unique tracking ID valid for one month</h2>
            <button type="button" class="btn btn-warning btn-lg">Register</button>
          </div>
        </section>
        <section class="section-info container-fluid">
          <h2>Get your tempreg number in 3 easy steps</h2>
          <div id="steps" class="custom-row-responsive">
            <div class="step custom-column">
              <div class="numbered-circle custom-column">
                <h1 class="display-4">1</h1>
              </div>
              <p>Register your vehicle</p>
            </div>
            <div class="step custom-column">
              <div class="numbered-circle custom-column">
                <h1 class="display-4">2</h1>
              </div>
              <p>Acivate your subscription</p>
            </div>
            <div class="step custom-column">
              <div class="numbered-circle custom-column">
                <h1 class="display-4">3</h1>
              </div>
              <p>Get your tempreg number</p>
            </div>
          </div>
        </section>
        <footer class="row g-3 bg-dark custom-center">
          <p>© Tempreg 2021</p>
        </footer>
    </body>  
</html>