<div class="">
    <h1 class="text-center text-white mt-5">&#128663;Tempreg users &#128663;</h1>
    <div class="d-flex justify-content-center mt-3" id="searchWrapper">
       <form id="searchBar" action="" method="post">
        <input type="text" name="search" id="searchBar" placeholder="search for a user" />
       </form>
    </div>
</div>